    <h1>
        Wrath of the Lich King gems</h1>
    <h2>
        Jewelry</h2>
    <div>
        <ul>
          <% @jewelry.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <h2>
        Meta Gems</h2>
    <div>
        <ul>
          <% @metaGems.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <h2>
        Epic gems
    </h2>
    <div>
        <ul>
          <% @epicGems.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <h2>
        Rare gems
    </h2>
    <div>
        <ul>
          <% @rareGems.each do |g| %>
            <li><a href="http://www.wowhead.com/?item=<%= g['id'] %>"><%= g['name'] %></a></li>
          <% end %>
        </ul>
    </div>
    <hr />
    <h1>
        <a href="/bc">Burning Crusade gems</a></h1>